################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bochs-code-12917-trunk
/cygwinthings
/configured/bochs-code-12917-trunk
/stage1/bootloader
/stage1/tools/raw2vmdk
/stage1/tools/createhd
/stage1/tools/nasm
/bochs-code-12917-trunk.zip
/stage1/output
*.o
*.so
*.elf
*.qkr
*.vhd
/stage1/Qube/Qube.VC.VC.opendb
/stage1/Qube/Qube.VC.db
/stage1/Qube/Qube.sdf
/stage1/Qube/bootloader/bochsrcTEST_gdb2.bxrc
/stage1/Qube/bootloader/bochsrcTEST_gdb.bxrc
/stage1/Qube/bootloader/bochsrcTEST4.bxrc
/stage1/Qube/bootloader/bochsrcTEST3.bxrc
/stage1/Qube/bootloader/bochsrcTEST2.bxrc
/stage1/Qube/bootloader/bochsrcTEST.bxrc
/stage1/Qube/bootloader/bochsrc.bxrc
/stage1/Qube/.vs/Qube/v14/.suo
/stage1/Qube/bootloader/boot
/stage1/Qube/bootloader/boot.elf.sym
/stage1/Qube/bootloader/disk.bin
/stage1/Qube/bootloader/ClassDiagram.cd
/stage1/Qube/bootloader/x64/BootLoader/bootloader.log
/stage1/Qube/Common/x64/Debug/Common.log
/stage1/Qube/gdb_debugger/x64/Debug/gdb_debugger.log
/stage1/Qube/gdb_debugger/diskpartscript
/stage1/Qube/gdb_debugger/last_compile_times.txt
*.lastbuildstate
/stage1/Qube/MemoryManager/x64/Debug
/stage1/Qube/libc/x64/Debug
/stage1/Qube/kernel/x64/Debug
/stage1/Qube/module1/x64/Debug
/stage1/Qube/module2/x64/Debug
/stage1/Qube/QbjectManager/x64/Debug
/stage1/Qube/screen/x64/Debug
/stage1/Qube/_static_files/x64/Debug
/stage1/Qube/__build_all/x64/Debug
/stage1/Qube/__build_all/diskpartscript
/stage1/Qube/__build_all/last_compile_times.txt
/stage1/Qube/__build_all/log.txt
/stage1/Qube/_output/bootloader/boot.bin
*.qmo
/stage1/Qube/_output
/stage1/Qube/__build_all/__build_all.vcxproj.user
/stage1/Qube/.vs/config/applicationhost.config
/stage1/Qube/screen/x64/Release/screen.tlog/CL.command.1.tlog
/stage1/Qube/screen/x64/Release/screen.tlog/unsuccessfulbuild
/stage1/Qube/screen/x64/Release/screen.log
/stage1/Qube/screen/x64/Release/vc140.pdb
/stage1/Qube/libc/x64/Release/vc140.pdb
/stage1/Qube/libc/x64/Release/libc.log
/stage1/Qube/libc/x64/Release/libc.tlog/unsuccessfulbuild
/stage1/Qube/libc/x64/Release/libc.tlog/CL.command.1.tlog
/stage1/Qube/gdb_debugger/x64/Release/gdb_debugger.log
/stage1/Qube/qkr_interrupts/x64/Release/qkr_interrupts.tlog/CL.command.1.tlog
/stage1/Qube/qkr_interrupts/x64/Release/qkr_interrupts.tlog/unsuccessfulbuild
/stage1/Qube/qkr_interrupts/x64/Release/qkr_interrupts.log
/stage1/Qube/qkr_interrupts/x64/Release/vc140.pdb
/stage1/Qube/kernel/x64/Release/kernel.log
/stage1/Qube/qkr_threads/x64/Release/qkr_threads.tlog/unsuccessfulbuild
/stage1/Qube/qkr_threads/x64/Release/qkr_threads.tlog/link.write.1.tlog
/stage1/Qube/qkr_threads/x64/Release/qkr_threads.tlog/link.read.1.tlog
/stage1/Qube/qkr_threads/x64/Release/qkr_threads.tlog/link.command.1.tlog
/stage1/Qube/qkr_threads/x64/Release/qkr_threads.tlog/CL.write.1.tlog
/stage1/Qube/qkr_threads/x64/Release/qkr_threads.tlog/CL.read.1.tlog
/stage1/Qube/qkr_threads/x64/Release/qkr_threads.tlog/CL.command.1.tlog
/stage1/Qube/__build_all/x64/Release/__build_all.tlog/CL.command.1.tlog
/stage1/Qube/__build_all/x64/Release/__build_all.tlog/unsuccessfulbuild
/stage1/Qube/gdb.exe.stackdump
/stage1/Qube/__build_all/x64/Release/__build_all.log
/stage1/Qube/__build_all/x64/Release/vc140.pdb
/stage1/Qube/_static_files/x64/Release/_static_files.log
/stage1/Qube/qkr_threads/x64/Release/vc140.pdb
/stage1/Qube/qkr_threads/x64/Release/threads.obj
/stage1/Qube/qkr_threads/x64/Release/qkr_threads.log
/stage1/Qube/qkr_sync/x64/Release/qkr_sync.log
/stage1/Qube/kernel_modules/module1/x64/Release/module1.log
/stage1/Qube/kernel_modules/module1/x64/Release/module1.tlog/unsuccessfulbuild
/stage1/Qube/kernel_modules/module1/x64/Release/module1.tlog/CL.command.1.tlog
/stage1/Qube/kernel_modules/module1/x64/Release/vc140.pdb
/stage1/Qube/Common/x64/Release/Common.log
/~$Qube.docx
/Qube.docx
/stage1/Qube/disk_manager/x64/Release/disk_manager.log
/stage1/Qube/gdb_debugger/prelog.txt
/~WRL3687.tmp
