################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bochs-code-12917-trunk
/cygwinthings
/configured/bochs-code-12917-trunk
/stage1/bootloader
/stage1/tools/raw2vmdk
/stage1/tools/createhd
/stage1/tools/nasm
/bochs-code-12917-trunk.zip
